@model List<Shop>


<ul>
    @foreach (var shop in Model)
    {
        <li>
            @shop.Name @Html.ActionLink("Edit", "Edit", "Shop", new { id = shop.Id })
            @Html.ActionLink("Delete", "Delete", "Shop", new { id = shop.Id })
        </li>

    }
</ul>